<a href="https://colab.research.google.com/github/SukumarmalliReddy/FMML_LABS/blob/main/Python_basics_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Declare a variable called "aid" and asign a value as your name then print the name like "Kiet"
---

In [1]:
#write your code here

aid="kiet"
print(aid.capitalize())

Kiet

 declare a value to the valrable then print the type of value

In [2]:
#write your code here

a=3425
print(type(a))

<class 'int'>

Write a python code using Format Method and "fstrings"

In [3]:
#write your code here

a="prasad"
b="kiet"
print(f"{a} is studying in {b}")

prasad is studying in kiet

Write a python code using .join() method

Input format:
kiet
Output format:
kkiet

In [4]:
#write your code here

a="kiet"
b=list(a)
b.insert(0,'k')
c=''.join(b)

print(c)

kkiet

Write a python code for checking whether the person is eligible for  Vote or Not  using conditionals

In [ ]:
#write your code here

a=int(input("Enter the number: "))
if (a>=18):
  print("Eligible for vote")
else:
  print("Not eligible for vote")

write simple codes using string methods:

In [8]:


#any 10 methods
#write your code here


#Capitalize()
a="hello world"
print(a.capitalize())

#casefold()
a = "Hello, I Am Abhinaya!"
b = a.casefold()
print(b)

#upper()
a = "Abhinaya"
b = a.upper()
print(b)


#lower()
a = "ABHINAYA"
b = a.lower()
print(b)


#isalnum()
a = "Abhinaya09"
b = a.isalnum()
print(b)


#isalpha()
a = "Abhinaya09"
b = a.isalpha()
print(b)


#isalnum()
a = "Abhinaya09"
b = a.isalnum()
print(b)


#isdecimal()
a = "1609"
b = a.isdecimal()
print(b)


#spilt()
a="Welcome to my home"
b = a.split()
print(b)


a = "     abhinaya     "

b = a.strip()

print(b)

Hello world
hello, i am abhinaya!
ABHINAYA
abhinaya
True
False
True
True
['Welcome', 'to', 'my', 'home']
abhinaya

#DEBUGGING

In [9]:
a="kiek"
b="kiet"
print("both {} and {} are in same campus".format(a,b))
#output should be like this
#both kiet and kiek are in same campus

both kiek and kiet are in same campus

In [10]:
a="kiet"
b="kiek"
print("both {} and {} are in same campus".format(a,b))
#both kiet and kiek are in same campus
#correct the output

both kiet and kiek are in same campus

In [11]:
a=5
b=12
if a==5 and b==12:
  print(a,b)
# correct the code

5 12

In [12]:
if a%2==0:
   print("a is divisible by 2")

else:
    print("not divisible")

not divisible